body{
  background-color: black;
}

.card{
  padding: 5vh 5vw;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 4px 4px white;
  text-align: center;
}

.card > h2 {
  font-size: 32px;
}

.card > img {
  border-radius: 10px;
}